.main {
    display: flex;
    padding: 0 5vw;

    .sidebar {
        width: 20%;
    }

    .news {
        width: 50%;
        height: 90vh;
        padding: 0 2vw;
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    .our-picks {
        width: 30%;
    }
}