.main {
    display: flex;
    padding: 0 5vw;

    .sidebar {
        width: 20%;
    }

    .news {
        width: 50%;
        padding: 0 2vw;

        .news-container {
            height: 90vh;
            overflow-y: scroll;

            ul {
                padding: 0;

                li {
                    list-style: none;
                }
            }
        }
    }

    .our-picks {
        width: 30%;
    }
}