.card {
    max-width: 100%;
    background-color: white;
    margin-bottom: 5vh;
    border-radius: 10px;
    padding: 20px;


    .cover-img {
        height: 450px;
        overflow: hidden;
        border-radius: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}